@{
    ViewData["Title"] = "Our Services";
}

<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Our Services</h4>
        <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active text-primary">Services</li>
        </ol>
    </div>
</div>


<!-- Service Start -->
<div class="container-fluid service py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">

            <h1 class="display-6 mb-2"> <strong>  Discover Our Innovative Retail Solutions</strong></h1>
            <p class="mb-0">
                ecocys offers a unique platform that connects retailers directly with manufacturers, providing access to a wide range of products at competitive prices. Our services are designed to streamline procurement and enhance your business operations.

            </p>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="~/img/services1.jpg" class="img-fluid rounded-top w-100" alt="">

                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <a href="#" class="d-inline-block h4 mb-2 font-20"> <strong> Retailer-Manufacturer Connection </strong> </a>
                            <p class="mb-4">Our platform simplifies the procurement process, allowing retailers to focus on their core business operations. Access a diverse range of products at lower costs.</p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="~/img/serve2.jpg" class="img-fluid rounded-top w-100" alt="">

                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <a href="#" class="d-inline-block h4 mb-2 font-20">
                                <strong>
                                    User-Friendly Interface
                                </strong>
                            </a>
                            <p class="mb-4">Easily browse and select products that meet your needs with our intuitive platform. Enhance your ability to compete with larger online retailers.</p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="~/img/serve3.jpg" class="img-fluid rounded-top w-100" alt="">

                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <a href="#" class="d-inline-block h4 mb-2 font-20">
                                <strong>
                                    Dedicated Support Team

                                </strong>
                            </a>
                            <p class="mb-4">
                                Our team is here to assist with any inquiries, ensuring a smooth experience. We support your journey to thrive both offline and online.
                                .
                            </p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <div class="row g-4 justify-content-center mt-2">
            <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="~/img/services1.jpg" class="img-fluid rounded-top w-100" alt="">

                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <a href="#" class="d-inline-block h4 mb-2 font-20"> <strong> Retailer-Manufacturer Connection </strong> </a>
                            <p class="mb-4">Our platform simplifies the procurement process, allowing retailers to focus on their core business operations. Access a diverse range of products at lower costs.</p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="~/img/serve2.jpg" class="img-fluid rounded-top w-100" alt="">

                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <a href="#" class="d-inline-block h4 mb-2 font-20">
                                <strong>
                                    User-Friendly Interface
                                </strong>
                            </a>
                            <p class="mb-4">Easily browse and select products that meet your needs with our intuitive platform. Enhance your ability to compete with larger online retailers.</p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="~/img/serve3.jpg" class="img-fluid rounded-top w-100" alt="">

                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <a href="#" class="d-inline-block h4 mb-2 font-20">
                                <strong>
                                    Dedicated Support Team

                                </strong>
                            </a>
                            <p class="mb-4">
                                Our team is here to assist with any inquiries, ensuring a smooth experience. We support your journey to thrive both offline and online.
                                .
                            </p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- Service End -->