@{
    ViewData["Title"] = "Home Page";
}

<!-- Carousel Start -->
<div class="header-carousel owl-carousel">
    <div class="header-carousel-item">
        <div class="carousel-caption">
            <div class="container">
                <div class="row g-4 align-items-center">
                    <div class="col-lg-7 animated fadeInLeft">
                        <div class="text-sm-center text-md-start">

                            <h1 class="display-5 text-white mb-4">Empower Retailers with ecocys</h1>
                            <p class="mb-5 fs-5">
                                Join the revolution in retail. Our platform connects you directly with manufacturers, offering unmatched convenience and cost savings. Thrive both offline and online with ecocys.
                            </p>
                            <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                                <a class="btn btn-light rounded-pill py-4 px-4 px-md-5 me-2" href="#"> Explore Services</a>
                                <a class="btn btn-dark rounded-pill py-4 px-4 px-md-5 ms-2" href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 animated fadeInRight">
                        <div class="calrousel-img" style="object-fit: cover;">
                            <img src="~/img/slidsmall.png" class="img-fluid w-100" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-carousel-item">
        <div class="carousel-caption">
            <div class="container">
                <div class="row gy-4 gy-lg-0 gx-0 gx-lg-5 align-items-center">
                    <div class="col-lg-5 animated fadeInLeft">
                        <div class="calrousel-img">
                            <img src="~/img/carousel-2.png" class="img-fluid w-100" alt="">
                        </div>
                    </div>
                    <div class="col-lg-7 animated fadeInRight">
                        <div class="text-sm-center text-md-start">

                            <h1 class="display-5 text-white mb-4">Empower Retailers with ecocys</h1>
                            <p class="mb-5 fs-4">
                                Join the revolution in retail. Our platform connects you directly with manufacturers, offering unmatched convenience and cost savings. Thrive both offline and online with ecocys.
                            </p>
                            <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                                <a class="btn btn-light rounded-pill py-4 px-4 px-md-5 me-2" href="#"> Explore Services</a>
                                <a class="btn btn-dark rounded-pill py-4 px-4 px-md-5 ms-2" href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- About Start -->
<div class="container-fluid feature bg-light py-4">
    <div class="container py-4">
        <div class="  pb-5 wow fadeInUp" data-wow-delay="0.2s">
            <div class="row g-4">
                <div class="col-md-6 col-lg-6 col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                    <h1 class="display-4 mb-4">About ecocys</h1>
                    <p class="mb-0">
                        At ecocys, we empower retailers to thrive in the digital landscape. Our mission is to connect them directly with manufacturers, ensuring lower costs and unmatched convenience. We believe in a future where traditional retail flourishes alongside e-commerce.
                    </p>

                    <div class="row g-4 mt-2">
                        <div class="col-md-6 col-lg-6 col-xl-6 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="feature-item p-2 pt-2">
                                <h4 class="mb-1"> <strong>1000 retailers </strong> </h4>
                                <p class="mb-2">
                                    Since our inception, we have supported over 1000 retailers in adapting to the online marketplace, helping them reduce costs and enhance their offerings.
                                </p>

                            </div>

                            <div class="feature-item p-2 pt-2 mt-3 wow fadeInUp" data-wow-delay="0.2s">
                                <h4 class="mb-1">
                                    <strong>
                                        1500
                                        products
                                    </strong>
                                </h4>
                                <p class="mb-2">
                                    With a diverse catalog of over 1500 products, we ensure that retailers have access to a wide range of options to meet their customers’ needs.
                                </p>

                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6 wow fadeInUp" data-wow-delay="0.4s">
                            <div class="feature-item p-2 pt-2">
                                <h4 class="mb-1">
                                    <strong>
                                        200
                                        manufacturers
                                    </strong>
                                </h4>
                                <p class="mb-2">
                                    Since our inception, we have supported over 1000 retailers in adapting to the online marketplace, helping them reduce costs and enhance their offerings.
                                </p>

                            </div>

                            <div class="feature-item p-2 pt-2 mt-3 wow fadeInUp" data-wow-delay="0.2s">
                                <h4 class="mb-1">
                                    <strong>
                                        100
                                        %
                                    </strong>
                                </h4>
                                <p class="mb-2">
                                    Our commitment to customer satisfaction is reflected in our 95% retention rate, showcasing the trust and loyalty we build with our clients.
                                </p>

                            </div>
                        </div>


                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
                    <img src="~/img/aboutus.webp" class="img-fluid w-100" alt="">
                </div>
            </div>




        </div>

    </div>
</div>
<!-- Feature End -->
<!-- About Start -->
<!-- Service Start -->
<div class="container-fluid service py-4">
    <div class="container py-4">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">

            <h1 class="display-6 mb-2"> <strong>  Discover Our Innovative Retail Solutions</strong></h1>
            <p class="mb-0">
                ecocys offers a unique platform that connects retailers directly with manufacturers, providing access to a wide range of products at competitive prices. Our services are designed to streamline procurement and enhance your business operations.

            </p>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="~/img/services1.jpg" class="img-fluid rounded-top w-100" alt="">

                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <a href="#" class="d-inline-block h4 mb-2 font-20"> <strong> Retailer-Manufacturer Connection </strong> </a>
                            <p class="mb-4">Our platform simplifies the procurement process, allowing retailers to focus on their core business operations. Access a diverse range of products at lower costs.</p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="~/img/serve2.jpg" class="img-fluid rounded-top w-100" alt="">

                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <a href="#" class="d-inline-block h4 mb-2 font-20">
                                <strong>
                                    User-Friendly Interface
                                </strong>
                            </a>
                            <p class="mb-4">Easily browse and select products that meet your needs with our intuitive platform. Enhance your ability to compete with larger online retailers.</p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="~/img/serve3.jpg" class="img-fluid rounded-top w-100" alt="">

                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <a href="#" class="d-inline-block h4 mb-2 font-20">
                                <strong>
                                    Dedicated Support Team

                                </strong>
                            </a>
                            <p class="mb-4">
                                Our team is here to assist with any inquiries, ensuring a smooth experience. We support your journey to thrive both offline and online.
                                .
                            </p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.2s">
                <a class="btn btn-primary rounded-pill py-4 px-5" href="#">More Services</a>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Testimonial Start -->
@* <div class="container-fluid testimonial pb-5 bg-pink pt-5 pb-2">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">

            <h1 class="display-5 mb-4">
                What Our Retailers Say
            </h1>
            <p class="mb-0">
                Discover how ecocys is transforming retail. Our retailers share their success stories and experiences.
            </p>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.2s">
            <div class="testimonial-item bg-white rounded">
                <div class="row g-0">
                    <div class="col-4  col-lg-4 col-xl-3">
                        <div class="h-100">
                            <img src="~/img/testimonial-1.jpg" class="img-fluid h-100 rounded" style="object-fit: cover;" alt="">
                        </div>
                    </div>
                    <div class="col-8 col-lg-8 col-xl-9">
                        <div class="d-flex flex-column my-auto text-start p-4">
                            <h4 class="text-dark mb-0">Client Name</h4>
                            <p class="mb-3">Profession</p>
                            <div class="d-flex text-primary mb-3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p class="mb-0">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim error molestiae aut modi corrupti fugit eaque rem nulla incidunt temporibus quisquam,
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item  bg-white rounded">
                <div class="row g-0">
                    <div class="col-4  col-lg-4 col-xl-3">
                        <div class="h-100">
                            <img src="~/img/testimonial-2.jpg" class="img-fluid h-100 rounded" style="object-fit: cover;" alt="">
                        </div>
                    </div>
                    <div class="col-8 col-lg-8 col-xl-9">
                        <div class="d-flex flex-column my-auto text-start p-4">
                            <h4 class="text-dark mb-0">Client Name</h4>
                            <p class="mb-3">Profession</p>
                            <div class="d-flex text-primary mb-3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star text-body"></i>
                            </div>
                            <p class="mb-0">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim error molestiae aut modi corrupti fugit eaque rem nulla incidunt temporibus quisquam,
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item  bg-white rounded">
                <div class="row g-0">
                    <div class="col-4  col-lg-4 col-xl-3">
                        <div class="h-100">
                            <img src="~/img/testimonial-3.jpg" class="img-fluid h-100 rounded" style="object-fit: cover;" alt="">
                        </div>
                    </div>
                    <div class="col-8 col-lg-8 col-xl-9">
                        <div class="d-flex flex-column my-auto text-start p-4">
                            <h4 class="text-dark mb-0">Client Name</h4>
                            <p class="mb-3">Profession</p>
                            <div class="d-flex text-primary mb-3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star text-body"></i>
                                <i class="fas fa-star text-body"></i>
                            </div>
                            <p class="mb-0">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim error molestiae aut modi corrupti fugit eaque rem nulla incidunt temporibus quisquam,
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@
<!-- Testimonial End -->
<!-- FAQs Start -->
<div class="container-fluid faq-section bg-light py-4">
    <div class="container py-4">
        <div class="row g-5 align-items-center">
            <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="h-100">
                    <div class="mb-5">

                        <h1 class="display-6 mb-0">Frequently Asked Questionss</h1>
                    </div>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button border-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Q: What is ecocys?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show active" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body rounded">
                                    ecocys is a platform that connects retailers directly with manufacturers, offering lower costs and convenient delivery.

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Q: How does the retailer-manufacturer connection work?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Our platform simplifies procurement by allowing retailers to browse and select products directly from manufacturers.

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Q: What are the benefits of using ecocys?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Retailers can access a wide range of products at competitive prices, enhancing their business operations.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading4">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                    Q: Is there a minimum order requirement?
                                </button>
                            </h2>
                            <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    No, we do not impose a minimum order requirement, allowing flexibility for retailers of all sizes.s

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.4s">
                <img src="~/img/carousel-2.png" class="img-fluid w-100" alt="">
            </div>
        </div>
    </div>
</div>
<!-- FAQs End -->

<div class="newtabs  fadeInUp py-4" data-wow-delay="0.2s">
    <div class="container">
        <!-- TAB Section -->
        <ul class="nav nav-tabs  d-sm-flex justify-content-center" role="tablist">
            <!-- Highlights Tab -->
            <li class="nav-item" role="presentation">
                <a class="nav-link tabnew active" id="TabControl-Highlights" data-bs-toggle="tab" href="#tab-highlights" role="tab" tabindex="0" aria-controls="tab-highlights" aria-selected="true"> Manufacturer  </a>
            </li>

            <!-- Specs Tab -->
            <li class="nav-item" role="presentation">
                <a class="nav-link tabnew" id="TabControl-Specs" data-bs-toggle="tab" href="#tab-specs" role="tab" tabindex="-1" aria-controls="tab-specs" aria-selected="false"> Retailers </a>
            </li>


        </ul>

        <div class="tab-content container-fluid fadeInUp" data-wow-delay="0.2s">
            <!-- Highlights Tab Pane -->
            <div class="tab-pane  show active" id="tab-highlights" role="tabpanel" aria-labelledby="TabControl-Highlights">
                <a href="#pdp-highlights" class="panel-title d-block d-sm-none" data-bs-toggle="collapse">

                </a>
                <div class="collapse show" id="pdp-highlights">

                    <div class="flexlist">
                        <div>
                            <div class="detais">
                                <div class="img_icon"> <img src="~/img/detail1.png"> </div>
                                <div>
                                    <h1>Unlock Nationwide Sales</h1>
                                    <p>Reach 50k Retailers Across 1,000+ Pincodes!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="detais">
                                <div class="img_icon"> <img src="~/img/detail2.png"> </div>
                                <div>
                                    <h2>Maximize Your Profits</h2>
                                    <p>Enjoy 0% Commission and Keep 100% of Your Earnings!</p>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="detais">
                                <div class="img_icon"> <img src="~/img/detail3.png"> </div>
                                <div>
                                    <h3>Expert Account Management</h3>
                                    <p>Dedicated team to Boost Your Ecocys Success!!</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flexlist">
                        <div>
                            <div class="detais">
                                <div class="img_icon"> <img src="~/img/detail4.png"> </div>
                                <div>
                                    <h1>Zero Return Charges</h1>
                                    <p> Ship Your Products Stress-Free with Our Flat, Low Rates!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="detais">
                                <div class="img_icon"> <img src="~/img/detail5.png"> </div>
                                <div>
                                    <h2>24/7 Support</h2>
                                    <p>Your Questions, Our Priority—Anytime, Anywhere!</p>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="detais">
                                <div class="img_icon"> <img src="~/img/detail6.png"> </div>
                                <div>
                                    <h3>Rapid Revenue</h3>
                                    <p>Unlock Your Payments in Just 7-10 Days After Dispatch!</p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <!-- Product Specs Tab Pane -->
            <div class="tab-pane " id="tab-specs" role="tabpanel" aria-labelledby="TabControl-Specs fadeInUp" data-wow-delay="0.2s">
                <a href="#pdp-specs" class="panel-title d-block d-sm-none" data-bs-toggle="collapse">

                </a>
                <div class="collapse" id="pdp-specs">
                    <div class="flexlist">
                        <div>
                            <div class="detais">
                                <div class="img_icon"> <img src="~/img/detail7.png"> </div>
                                <div>
                                    <h1>Exclusive Wholesale Rates</h1>
                                    <p>Boost Your Profit Margins with Our Competitive Pricing!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="detais">
                                <div class="img_icon"> <img src="~/img/detail8.png"> </div>
                                <div>
                                    <h2>Vast Product Selection</h2>
                                    <p>Find Everything You Need to Meet Customer Demands!</p>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="detais">
                                <div class="img_icon"> <img src="~/img/detail9.png"> </div>
                                <div>
                                    <h3>Timely Deliveries</h3>
                                    <p>Count on Our Efficient Logistics to Keep Your Shelves Stocked!</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flexlist">
                        <div>
                            <div class="detais">
                                <div class="img_icon"> <img src="~/img/detail5.png"> </div>
                                <div>
                                    <h1>24/7 Support</h1>
                                    <p> Our Expert Team is Here to Help with Your Orders Anytime!</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="detais">
                                <div class="img_icon"> <img src="~/img/detail20.png"> </div>
                                <div>
                                    <h2>E-Commerce Growth Support</h2>
                                    <p> We'll guide you in building your online presence and optimizing your listings on e-commerce platforms. more unique</p>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="detais">
                                <div class="img_icon"> <img src="~/img/detail6.png"> </div>
                                <div>
                                    <h3>Zero Transportation Charges</h3>
                                    <p>Enjoy Hassle-Free Shipping at No Extra Cost!!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add specification content here -->
                </div>
            </div>


        </div>
    </div>
</div>
<hr>
<!--other veriant-->
<div class="values section mt-5 mb-5">
    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-6 aos-init aos-animate">
                <div class="card">
                    <div class="serve_heigh">
                        <img src="~/img/serve1.jpg" class="img-fluid" alt="">
                    </div>

                    <h3>E-commerce Integration </h3>
                    <p>
                        We enable retailers to easily integrate their businesses into the online space, helping them build e-commerce stores and expand their customer base. Our platform is designed to be user-friendly, so even those new to the digital
                        world can get up and running quickly.
                    </p>
                </div>
            </div>
            <!-- End Card Item -->

            <div class="col-lg-6 aos-init aos-animate">
                <div class="card">
                    <div class="serve_heigh">
                        <img src="~/img/searve2.jpg" class="img-fluid" alt="">
                    </div>

                    <h3>Marketing & Analytics Support </h3>
                    <p>
                        We provide retailers with digital marketing strategies and real-time analytics that offer insights into customer behavior, product performance, and sales trends. This helps retailers make informed decisions, increase customer
                        engagement, and optimize their operations for maximum growth
                    </p>
                </div>
            </div>
            <!-- End Card Item -->

            <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                <div class="card">
                    <div class="serve_heigh">
                        <img src="~/img/searve3.jpg" class="img-fluid" alt="">
                    </div>
                    <h3>Government Concern About Retailers </h3>
                    <p>
                        With the rise of online shopping, traditional retailers have faced a decline in sales and foot traffic. The government has recognized the importance of supporting these businesses to ensure they remain competitive in today’s
                        economy.
                    </p>
                    <p>
                        Our platform is a direct response to this concern. By offering solutions that digitize retailers, we align with government initiatives focused on revitalizing the retail sector. The government’s support through various programs
                        that help us further our mission of empowering retailers to compete and succeed.
                    </p>
                </div>
            </div>
            <!-- End Card Item -->


            <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                <div class="card">
                    <div class="serve_heigh">
                        <img src="~/img/serve4.jpg" class="img-fluid" alt="">
                    </div>
                    <h3>Sustainability and Social Impact </h3>
                    <p>
                        We are committed to not only driving business growth but also creating a positive impact on the environment and local communities. Our logistics focus on sustainability, using eco-friendly packaging and optimizing delivery
                        routes to reduce emissions.

                    </p>
                    <p>
                        We’re also dedicated to supporting local economies by empowering small and medium-sized retailers. By helping them grow their businesses and thrive in the digital age, we contribute to the revitalization of local commerce.
                    </p>
                </div>
            </div>
            <!-- End Card Item -->






        </div>

    </div>
</div>
